input[type='email']:focus,
input[type='text']:focus,
textarea:focus,
select:focus {
  border-color: #004fd4 !important;
}

label {
  display: block;
  font-weight: 400 !important;
  margin-bottom: 0 !important;
}

.button-primary {
  background-color: #004fd4 !important;
  border: 1px solid #004fd4 !important;
}

.button-danger {
  background-color: #E53C51 !important;
  border: 1px solid #E53C51 !important;
}

.close {
  cursor: pointer;
  font-weight: bold;
  text-align: right;
}